<footer class="pt-5 pb-2">
    <div class="container">
      <div class="row">
        <!-- Logo and Contact Info -->
        <div class="col-sm-4 col-md-6 col-lg-3 mb-4">
          <a
            routerLink="/"
            class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
          >
            <img
              src="assets/images/logo.svg"
              alt="SpinTech Logo"
              width="120"
              height="120"
            />
          </a>
          <p>
            SPIN TECH — Shaping the Future, One Mind at a Time.
          </p>
          <ul class="contact-info d-flex flex-column gap-3 mt-4">
            <li class="d-flex align-items-center">
              <span class="icon me-2">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <span>info&#64;spintech.world</span>
            </li>
            <li class="d-flex align-items-center">
              <span class="icon me-2">
                <i class="fa-solid fa-phone"></i>
              </span>
              <span>+20 155 707 6287</span>
            </li>
          </ul>
        </div>
  
        <!-- Quick Links -->
        <div class="col-sm-4 col-md-6 col-lg-3 mb-3">
          <h5>Quick Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/" class="nav-link p-0">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/about" class="nav-link p-0">About Us</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/coaches" class="nav-link p-0">Coaches</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/companies" class="nav-link p-0">For Companies</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/job-placement" class="nav-link p-0">Job Placement</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/projects" class="nav-link p-0">Projects</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/blog" class="nav-link p-0">Blog</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/contact" class="nav-link p-0">Contact Us</a>
            </li>
          </ul>
        </div>
  
        <!-- Subscribe to Newsletter -->
        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
          <form>
            <h5>Subscribe to our Newsletter</h5>
            <p>Get a monthly summary of the latest news and updates from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email Address</label>
              <input
                id="newsletter1"
                type="email"
                class="form-control"
                placeholder="Email Address"
                required
              />
              <button class="btn" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <!-- Footer Bottom: Rights and Social Media -->
      <div
        class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top rights"
      >
        <p>© 2024 Spin Tech, All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="me-3">
            <a
              class="link-body-emphasis"
              href="https://www.linkedin.com/company/spin-tm/"
              target="_blank" 
              rel="noopener noreferrer"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li class="me-3">
            <a
              class="link-body-emphasis"
              href="https://www.instagram.com/spin_tech_/profilecard/?igsh=dmd1YTZsdzVtOTVo"
              target="_blank" 
              rel="noopener noreferrer"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li class="me-3">
            <a
              class="link-body-emphasis"
              href="https://www.facebook.com/spintech"
              target="_blank" 
              rel="noopener noreferrer"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  