<section class="about-us-section">
    <div class="container">
      <app-about-us></app-about-us> <!-- About Us Component -->
    </div>
  </section>
  
  <section class="our-mission-section">
    <div class="container">
      <app-our-mission></app-our-mission> <!-- Our Mission Component -->
    </div>
  </section>
  
  <section class="expert-coaches-section">
    <div class="container">
      <app-expert-coaches></app-expert-coaches> <!-- Expert Coaches Component -->
    </div>
  </section>
  
  <section class="our-partners-section">
    <div class="container">
      <app-our-partners></app-our-partners> <!-- Our Partners Component -->
    </div>
  </section>
  